{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/check.css">
{% endblock %}

{% block content %}
<div class="container">
<div class="y-content row mt-3">
    <div class="y-img col">
        <div class="y-lg-img m-2">
            <img src="/static/images/Cache_3654827e8a2dddfb..jpg" alt="" width="100%">
        </div>
    </div>
    <div class="y-notice col">
        <!--  -->
        <ul class="list-group m-2">
            <li class="list-group-item">照片均通过爬虫/收集/网友上传</li>
            <li class="list-group-item">如转发他人照片请先获取版权</li>
            <li class="list-group-item">如您照片未经授权出现于此请联系我们删除</li>
            <li class="list-group-item">邮箱:abigeater@163.com</li>
            <li class="list-group-item">请回答以下人脸是否超越以帮助我们收集更多的样本</li>
        </ul>
        <div class="y-sm-img m-2 text-center">
            <img src="/static/images/Cache_3654827e8a2dddfb..jpg" alt="" width="100px">
        </div>
        <!-- 搜索框 -->
        <div id="skr" class="demo-input-size m-2">
            <div class="skr-input">
                <el-input placeholder="如是输入是即可,输入其他则不是." v-model="input2" clearable>
                    <el-button slot="append" icon="el-icon-search"></el-button>
                </el-input>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}