<header class="container-fluid">
	<!-- 顶部导航 -->
	<div class="container">
		<div class="top-nav row">
			<div class="col">
				<a href="javascript:;">关于我们</a>
				<a href="javascript:;">item</a>
			</div>
			<div class="navlogin col">
				<div id="app">
					<div id="userLogin" class="float-right">

						<a href="#login" role="button" data-toggle="modal" data-toggle="modal" data-target="#login">登录</a>
						<span>/</span>
						<a>注册</a>
					</div>
                    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
                         <form  class="demo-ruleForm" action="/" method="POST">
                        <div class="modal-dialog" style="max-width:330px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="model-title">Ycy Picture</h3>
                                </div>
                                <div class="modal-body">

                                    <div class="form-inline">
                                         <label for="username">用户名：</label><input type="text" class="form-control" id="username" />
                                    </div>
                                        <br/>
                                    <div class="form-inline">
                                         <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input type="password" class="form-control" id="password" />
                                    </div>
						    </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                                  <button type="submit" class="btn btn-success">提交</button>
                            </div>
                            </div>
                        </div>{% csrf_token %}
                         </form>
                    </div>
				</div>
			</div>
		</div>
		<div class="logo">
			<a href="#" class="logo-img">
				<img src="/static/images/logo.png" alt="">
			</a>
		</div>
		<div id="main-nav" class="main-nav">
			<a href="/" {% if request.path == '/' %}class="active"{% endif %}>首页</a>
			<a href="/check/" {% if request.path == '/check/' %}class="active"{% endif %}>审查图片</a>
		</div>
	</div>

</header>