<header class="container-fluid">
	<!-- 顶部导航 -->
	<div class="container">
		<div class="top-nav row">
			<div class="col">
				<a href="javascript:;">关于我们</a>
				<a href="javascript:;">item</a>
			</div>
			<div class="navlogin col">
				<div id="app">
					<div id="userLogin" class="float-right">
						<a href="javascript:;" v-on:click="show2 = !show2">登录</a>
						<span>/</span>
						<a href="javascript:;" v-on:click="show2 = !show2">注册</a>
					</div>
 <div class="signPage" v-if="show2">
                                <div class="sign-from">
                                    <div class="info">
                                        <h1 class="brand">Ycy Picture</h1>
                                        <p id="intro">{{userinfo}}Ycy Picture，分享…………</p>
                                    </div>
                                    <el-form :status-icon="infoIcon" label-width="0" class="demo-ruleForm"
                                        justify="center">
                                        <el-form-item>
                                            <el-input v-model="ruleForm2.name" placeholder="请输入用户名"></el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-input v-model="ruleForm2.pass" type="password" autocomplete="off"
                                                placeholder="请输入密码" show-password></el-input>
                                        </el-form-item>
                                        <div class="info-if" v-if="show">
                                            <el-form-item prop="checkPass">
                                                <el-input v-model="ruleForm2.checkPass" type="password"
                                                    autocomplete="off" placeholder="请再次输入密码" show-password></el-input>
                                            </el-form-item>
                                            <el-form-item prop="age">
                                                <el-input v-model="ruleForm2.age" placeholder="请输入年龄"></el-input>
                                            </el-form-item>
                                        </div>
                                        <el-form-item>
                                            <!-- @click="submitForm('ruleForm2')" -->
                                            <el-button class="sign-btn" type="primary">{{userinfo}}
                                            </el-button>
                                        </el-form-item>
                                        <p class="login">
                                            {{userif}}有账号?
                                            <a href="javascript:;" @click="Landing('ruleForm2')">{{userinfoBot}}</a>
                                        </p>
                                    </el-form>
                                </div>
                                <div class="bg" v-on:click="show2 = !show2"></div>
                            </div>
				</div>
			</div>
		</div>
		<div class="logo">
			<a href="#" class="logo-img">
				<img src="/static/images/logo.png" alt="">
			</a>
		</div>
		<div id="main-nav" class="main-nav">
			<a href="#" class="active">首页</a>
			<a href="#">首页</a>
		</div>
	</div>

</header>