{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block content %}
<!-- 缩略图卡片集 -->
	<div class="container">
		<div class="card-info row text-center">
			<div class="col">
				<div class="card-item">
					<a href="javascript:;"><img src="/static/images/item.jpg" alt=""></a>
					<a href="javascript:;" class="card-text">最新合集1</a>
				</div>
			</div>
			<div class="col">
				<div class="card-item">
					<a href="javascript:;"><img src="/static/images/item.jpg" alt=""></a>
					<a href="javascript:;" class="card-text">最新合集2</a>
				</div>
			</div>
			<div class="col">
				<div class="card-item">
					<a href="javascript:;"><img src="/static/images/item.jpg" alt=""></a>
					<a href="javascript:;" class="card-text">最新合集3</a>
				</div>
			</div>
			<div class="col">
				<div class="card-item">
					<a href="javascript:;"><img src="/static/images/item.jpg" alt=""></a>
					<a href="javascript:;" class="card-text">最新合集3</a>
				</div>
			</div>
		</div>
	</div>
<div class="container mt-3 mb-5">
    <div class="row m-0">
        <!-- 左侧导航 -->
        <div class="left-nav col-2 text-center mr-4">
            <div id="nav-pf">
                <a href="javascript:;" class="left-gif">
                    <img src="/static/images/home.png" alt="" width="100%">
                </a>
                <div class="left-item">
                    <a href="/list/good">点赞最多</a>
                    <a href="/list/feed">关注用户</a>
                    <a href="/list/random">随机吸花</a>
                    <a href="javascript:;" onclick="document.getElementById('addfile').click();" >上传作品<input type="file" id="addfile" onchange="FileUpload()" accept=".jpg,.png"  style="display: none"></a>

                </div>
            </div>
        </div>
        <!-- 中部内容 -->

        <!-- 热门+搜索框 -->
        <div class="main-content col-8">
            <div id="skr" class="demo-input-size">
                <div class="skr-btn">
                    <el-button-group>
                        <el-button type="primary">最新<i class="el-icon-caret-top el-icon--right"></i></el-button>
                        <el-button type="primary">热门<i class="el-icon-caret-top el-icon--right"></i></el-button>
                    </el-button-group>
                </div>
                <div class="skr-input">
                    <el-input placeholder="请输入内容" v-model="input10" clearable>
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </div>
            </div>
            <!-- 文章 -->
            {% for image in images%}
            <div class="article">
                <div class="article-content text-center m-auto">
                    <!-- 用户图 -->
                    <div class="article-img  text-center">
                        <img src="/static/images/{{ image.filename }}" alt="" width="100%">
                    </div>
                    <!-- 标题、点赞 -->
                    <div class="row article-title">
                        <div class="col-8 t-zdy">
                            <a href="javascript:;">{{ image.title }}</a>
                            <button type="button" class="t-btn btn btn-primary"><a
                                    href="javascript:;">举报</a></button>
                        </div>
                        <div class="col-4 like text-right t-zdy">
                            <a href="javascript:;">
                                <span class="glyphicon glyphicon-thumbs-up"></span>{{ image.good }}
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 用户信息 -->
                <div class="article-user text-center m-auto row">
                    <div class="a-info col-10">
                        <div class="user-img"><img src="/static/images/{{ image.user.image }}" alt="" width="100%"></div>
                        <div class="user-title text-left pl-3">
                            <a href="javascript:;" class="pb-2">{{ image.user.username }}</a>
                            <button type="button" class="btn-zdy btn btn-warning btn-sm">关注</button>
                        </div>
                    </div>
                    <div class="a-time col-2">
                        <span>{{ image.time|timesince }}前上传</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- 右侧侧栏 -->
        <div class="main-sideba col text-center">
            <div class="notice">热门合集</div>
            <div class="notic-item">
                <a href="#">图集链接1</a>
                <a href="#">图集链接2</a>
                <a href="#">图集链接3</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/index.js"></script>
<script src="/static/js/VueProtect.js"></script>

<script>

     function FileUpload() {
        var form_data = new FormData();
        var file_info =$('#addfile')[0].files[0];
        form_data.append('csrfmiddlewaretoken','{{ csrf_token }}')
        form_data.append('file',file_info);
        $.ajax({
            url:'/upload_ajax/',
            type:'POST',
            data: form_data,
            processData: false,  // tell jquery not to process the data
            contentType: false, // tell jquery not to set contentType
            success: function(callback) {
                if(callback=="OK"){
                    alert('已上传,正在识别.识别成功后将自动显示');
                }else{
                    alert(callback);
                }
            }
        });
    }
</script>
{% endblock %}